
/* header */

.header {
    font-size: 18px;
    font-weight: 400;
    padding: 92px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header-menu */

.header-menu {  
    width: 100%;
    max-width: 392px;
    margin: 0 25px;
}

.menu-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 32px;
    font-size: 18px;
    white-space: nowrap;
    line-height: 21.13px;
    letter-spacing: 0.01em;
}

.menu-list-item {
    list-style-type:circle;
}

.menu-list-item--no-bullit {
    list-style-type: none;
}

.menu-list-link {
    text-underline-offset: 4px; 
}

.menu-list-link--active {
    text-decoration: none;
}

/* header-logo */

.header-logo {
   margin: 0 185px 0 11px;
}

.logo-black {  
    width: 148px;
    height: 105px;   
}

.header__address {
    margin-right: 28px;
}

/* contacts */

.contacts {
    width:100%;
    max-width: 241px;
    font-style: normal;
    line-height: 24.3px; 
    
}

.telephone {
    letter-spacing: 0.01em;    
}

.mail {
    letter-spacing: 0.01em;
}


/* main */

/* overlay */

.overlay {
    position: absolute;
    inset: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

/* jambotron */

.jambotron {
    padding: 165px 50px 50px;
    position: relative;
    z-index: 1;
    width:100%;
    max-width: 1100px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.jambotron-title { 
    position: relative;
    z-index: 1; 
    width:100%;
    max-width: 1000px;   
    font-size: 100px;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 115px;
    font-weight: 700; 
    
}

.text-left {
    display: block;
    text-align: left;
}

.text-center {
    display: block;
    text-align: center;
    line-height: 100px;
    margin-top: 20px;
}

.text-right {
    display: block;
    text-align: right;
    line-height: 100px;
    margin-top: 20px;
}

.spacing-normal {
    letter-spacing: 30px;
}

.spacing-extended {
    letter-spacing: 60px;
}

.spacing-none {
    letter-spacing: normal;
}

.jambotron-content {
    position: relative;
    z-index: 1;
    margin-top: 135px;
    display: flex;
    justify-content: right;
    align-items: center;
    white-space: nowrap;
}

.jambotron-content-text {
    
    font-size: 22px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    margin-right: 79px;
    word-spacing: 19px;
}


/*bet*/

.bet {
    display: block;
    width: 256px;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 25.83px;
    text-align: center;
    text-transform: uppercase;
    background: none;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding: 12px 32px 11px 31px;   
}

/* lots */

.lots {
    margin: 179px 24px 146px;
    width: 1052px;    
}
  
.lots-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
    color: #000000;
    margin-left:40px;
    margin-bottom: 27px;
    text-transform: uppercase;
}
  
.lots-content {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
    margin-bottom: 29px;
}
  
.card-lots {
    width: 334px;
    min-height: 563px;
}
   
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    height: 100%;
    color: #FFFFFF;
    padding: 50px 40px;
    
}

.card_type_film {
    background: url(../images/card-lot-01.jpg) center/cover; 
} 
  
.card_type_book {
    background: url(../images/card-lot-02.jpg) center/cover; 
}
  
.card_type_picture {
    background: url(../images/card-lot-03.jpg) center/cover;    
}
  
.card-link {
    text-decoration: none;
}
  
.card-title {
    position: relative;
    z-index: 1;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-transform: uppercase;
    text-decoration: underline solid #FFFFFF 1px;
    text-underline-offset: 3px;
}
  
.card-text {
    position: relative;
    z-index: 1;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.more-link {    
    text-decoration: none;
    margin-left: 40px;
    margin-bottom: 2px;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid #000000;
    line-height: 23.48px;    
}



/* about */

.about {
    margin: 146px 24px 180px;
    display: flex;
    width: 1052px;
    gap: 72px;
}
  
.logo-column {
    margin-top: 35px;
}
  
.about-logo {
    background-color: #000000;
    border-radius: 50%;
    margin-left: 47px;
    padding: 63px 46px;
}
  
.logo-white {
    width: 148px;
    height: 114px;
}

.about-column {
    margin-top: 133px;
}
  
.about-title {
    margin-top: 3px;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-transform: uppercase;
}
  
.about-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 100px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}


/* footer */

.footer { 
    display: flex;
    justify-content: space-between;
    padding: 0 50px 88px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
}

.footer-menu {
    max-width: 149px;
}

.footer-menu-list {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    justify-content: center;
    line-height: 21.13px;
    letter-spacing: 0.01em;
    list-style-type: none;
}

.footer-socials {
    width: 240px;
}

.footer-social-link {   
    display: flex;
    justify-content: end;
    gap: 48px;
    list-style: none;
}
  
  .footer-social-icon {
    width: 48px;
    height: 48px;
}